.hive-prose {
  --nextra-content-width: 1208px;
  --article-max-width: 640px;

  & > .main-content {
    box-sizing: content-box;
    width: var(--nextra-content-width);
    max-width: 100%;

    & > div {
      @apply ml-0 pl-6 max-sm:pr-6 md:pl-12;
    }

    & > div > article {
      box-sizing: content-box;
      max-width: 100%;
      width: var(--article-max-width);
      padding: 0;
    }

    & nav.nextra-toc {
      @apply hidden;
    }
  }

  @apply text-green-1000 dark:text-white;

  & article main > :is(h2, h3, h4, h5, h6, p, li) {
    @apply text-green-1000 dark:text-white;
  }

  & article main > :is(h2, h3, h4, h5, h6) {
    @apply border-none;
  }

  & img {
    @apply rounded-2xl;
  }

  & div:has(> blockquote) {
    @apply bg-beige-100 mt-10 rounded-2xl p-6 dark:bg-neutral-800;

    & blockquote {
      @apply text-green-1000 flex gap-6 border-none p-0 not-italic max-sm:flex-col sm:text-xl dark:text-white;

      &::before {
        @apply bg-primary flex size-12 shrink-0 items-center justify-center rounded-2xl pt-2;
        content: url('./quotemark.svg');
      }
    }

    & cite {
      @apply mt-6 flex justify-end gap-3 text-sm not-italic;

      & p {
        @apply mt-0;
      }

      & :nth-child(2) {
        @apply font-medium;
      }
    }
  }

  & li > p {
    @apply mt-2;
  }
}

@media (max-width: 768px) {
  .hive-prose {
    --article-max-width: 100%;
  }
}
