on:
  workflow_call:
    outputs:
      hivePublish:
        description: 'A boolean indicating whether hive pkg was published'
        value: ${{ jobs.publish.outputs.hivePublish }}
      hiveVersion:
        description: 'A semver version of the hive pkg, in case it was published'
        value: ${{ jobs.publish.outputs.hiveVersion }}
      cliPublish:
        description: 'A boolean indicating whether cli pkg was published'
        value: ${{ jobs.publish.outputs.cliPublish }}
      cliVersion:
        description: 'A semver version of the cli pkg, in case it was published'
        value: ${{ jobs.publish.outputs.cliVersion }}

jobs:
  publish:
    runs-on: ubuntu-22.04

    env:
      HIVE_TOKEN: ${{ secrets.HIVE_TOKEN }}
      # AWS_* are used by Oclif CLI
      AWS_ACCESS_KEY_ID: ${{ secrets.R2_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.R2_SECRET_ACCESS_KEY }}
      AWS_S3_ENDPOINT: https://6d5bc18cd8d13babe7ed321adba3d8ae.r2.cloudflarestorage.com

    outputs:
      cliPublish: ${{ steps.cli.outputs.publish }}
      cliVersion: ${{ steps.cli.outputs.version }}
      hivePublish: ${{ steps.hive.outputs.publish }}
      hiveVersion: ${{ steps.hive.outputs.version }}

    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
          token: ${{ secrets.GUILD_BOT_TOKEN }}

      - name: setup environment
        uses: ./.github/actions/setup
        with:
          codegen: false # no need to run because release script will run it anyway
          actor: release-stable
          cacheTurbo: true

      - name: prepare npm credentials
        run: |
          echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> $HOME/.npmrc
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: publish stable
        id: changesets
        uses: changesets/action@v1.4.9
        with:
          publish: pnpm release
          version: pnpm release:version
          commit: 'chore(release): update monorepo packages versions'
          title: 'Upcoming Release Changes'
        env:
          GITHUB_TOKEN: ${{ secrets.GUILD_BOT_TOKEN }}

      - name: extract published cli version
        if:
          steps.changesets.outputs.published && contains(steps.changesets.outputs.publishedPackages,
          '"@graphql-hive/cli"')
        id: cli
        run: |
          echo '${{steps.changesets.outputs.publishedPackages}}' > cli-ver.json
          VERSION=`echo $(jq -r '.[] | select(.name | endswith("@graphql-hive/cli")).version' cli-ver.json)`
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "publish=true" >> $GITHUB_OUTPUT

      - name: extract published hive version
        if:
          steps.changesets.outputs.published && contains(steps.changesets.outputs.publishedPackages,
          '"hive"')
        id: hive
        run: |
          echo '${{steps.changesets.outputs.publishedPackages}}' > hive-ver.json
          VERSION=`echo $(jq -r '.[] | select(.name | endswith("hive")).version' hive-ver.json)`
          echo "hiveVersion=$VERSION" >> $GITHUB_OUTPUT
          echo "hivePublish=true" >> $GITHUB_OUTPUT

      # Needed for `oclif pack win`
      - name: Install NSIS
        run: |
          sudo apt-get -y install nsis

      - name: pack tarballs
        if: steps.cli.outputs.publish == 'true'
        working-directory: packages/libraries/cli
        run: pnpm oclif:pack

      - name: upload tarballs
        if: steps.cli.outputs.publish == 'true'
        working-directory: packages/libraries/cli
        run: pnpm oclif:upload

      - name: promote tarballs
        if: steps.cli.outputs.publish == 'true'
        working-directory: packages/libraries/cli
        env:
          VERSION: ${{ steps.cli.outputs.version }}
        run: pnpm oclif promote --no-xz --sha ${GITHUB_SHA:0:7} --version $VERSION

      - name: extract published Crate version
        id: rust-crate
        if:
          steps.changesets.outputs.published && contains(steps.changesets.outputs.publishedPackages,
          '"hive-apollo-router-plugin"')
        run: |
          echo '${{steps.changesets.outputs.publishedPackages}}' > published.json
          VERSION=`echo $(jq -r '.[] | select(.name | endswith("hive-apollo-router-plugin")).version' published.json)`
          echo "crate_version=$VERSION" >> $GITHUB_OUTPUT
          echo "crate_publish=true" >> $GITHUB_OUTPUT

      - name: release hive-apollo-router-plugin to Crates.io
        if: steps.rust-crate.outputs.crate_publish == 'true'
        run: |
          cd packages/libraries/router
          cargo login ${{ secrets.CARGO_REGISTRY_TOKEN }}
          cargo publish --allow-dirty --no-verify
